@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-weight: 700;
    font-size: 36px;
    color: black;
    margin: 0;
}
.header {
    background-color: #648A73;
    height: 130px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px;
}
.btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 63px;
    border-radius: 16px;
    font-weight: 600;
    font-size: 32px;
    color: #000000;
    transition: opacity 0.3s;
}

.btn-green {
    background-color: #88BC9C;
}
.content {
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.btn-black {
    background-color: #000000;
    color: #ffffff; 
}
.title-text {


font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 78px;
padding: 0 17%;
text-align: center;

}
.p-text {
    /* Мінімалістичний інструмент для обліку доходів та витрат. Ніяких складних графіків — тільки те, що важливо для вашого гаманця. */

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;
color: #A2A2A2;
padding: 0 19%;

}
.features-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.start-button p {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 200px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 32px;
    color: white;
    transition: opacity 0.3s;
    background-color: black;
    margin: 0 auto;
    cursor: pointer;
}
.button-on-calculator {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 32px;
    color: white;
    transition: opacity 0.3s;
    background-color: black;
    margin: 0 auto;
    cursor: pointer;
}